/* Global variable */
:root {
  --color-gray: #dfe1e5;
  --title-font-size: 64px;
  --timer-font-size: 48px;
  --label-font-size: 18px;
  --input-font-size: 24px;
  --font-weight-xlight: 100;
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --spacing-tiny: 6px;
  --spacing-small: 12px;
  --spacing-regular: 24px;
  --spacing-large: 60px;
  --spacing-huge: 72px;
}




/* Very simple normalization */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button,
[type="submit"] {
  border: none;
  background: transparent;
}

button:hover,
[type="submit"]:hover {
  opacity: .35;
}



/* Page elements */
.wrapper {
  margin-left: 32px;
  margin-right: 32px;
  position: relative;
  overflow: hidden;
}

.page-header {
  margin-bottom: var(--spacing-huge);
  margin-top: var(--spacing-small);
  position: relative;
}

.page-title {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);
  /*line-height: 77px;*/
  line-height: 49px;
  width: 60%;
}

.page-menu {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 16px;
}




/* Task component */

.task {
  margin-bottom: var(--spacing-large);
}

.task__name {
  font-size: var(--label-font-size);
  font-weight: var(--font-weight-xlight);
  /*margin-bottom: var(--spacing-tiny);*/
}

.task__time {
  font-size: var(--timer-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  padding-bottom: var(--spacing-tiny);
  border-bottom: 4px solid currentColor;
}




/* Timer controls */

.form {
  position: relative;
}

.form__title {
  font-size: 36px;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-regular);
}

.form__group {
  margin-bottom: var(--spacing-regular)
}

.form__group-label {
  font-size: var(--label-font-size);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--spacing-small);
}

[type="text"],
[type="number"] {
  border: none;
  border-bottom: 0.5px solid var(--color-gray);
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-bold);
}

[type="number"] {
  display: inline-block;
  width: 20%;
  margin-right: 10%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: var(--font-weight-light);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: var(--font-weight-light);
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: var(--font-weight-light);
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: var(--font-weight-light);
}

.form__submit-btn {
  float: right;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-regular);
}

.form__submit-btn,
.btn--top-right {
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-xlight);
  border-bottom: 0.5px solid #111;
  padding: 0;
}

.btn--top-right {
  position: absolute;
  right: 0;
  top: 0;
}

/* Queue */

.queue {
  margin-top: var(--spacing-small);
}
.queue__modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: auto;
  padding-left: var(--spacing-regular);
}

.queue__title {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 36px;
  margin-top: var(--spacing-regular);
  margin-bottom: var(--spacing-large);
  max-width: 50%;
}

.queue__item {
  font-size: var(--label-font-size);
  font-weight: var(--font-weight-light);
  width: 100%;
  margin-bottom: var(--spacing-tiny)
}

.queue__label,
.queue__time {
  display: table-cell;
}

.queue__label {
  width: 60%;
}

.queue__time {
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-bold);
  width: 40%;
}

.close {
  position: absolute;
  right: 12%;
  top: 4%;
}

/* Utilities */

.mb-72 {
  margin-bottom: 72px;
}