/*========== GLOBAL VARIABLES ==========*/

:root {
  --color-gray: #dfe1e5;
  --title-font-size: 64px;
  --timer-font-size: 48px;
  --label-font-size: 18px;
  --input-font-size: 24px;
  --font-weight-xlight: 100;
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --spacing-tiny: 6px;
  --spacing-small: 12px;
  --spacing-regular: 24px;
  --spacing-2x-regular: 48px;
  --spacing-large: 60px;
  --spacing-huge: 72px;
  --content-max-width: 750px;
}




/*========== VERY VERY SIMPLE NORMALIZATION ==========*/

* {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button,
[type="submit"] {
  border: none;
  background: transparent;
  cursor: pointer;
}

button:hover,
[type="submit"]:hover {
  opacity: .35;
}




/*========== PAGE ELEMENTS ==========*/
.page-wrapper {
  margin-left: 32px;
  margin-right: 32px;
  position: relative;
  overflow: hidden;
}

.page-header {
  margin-bottom: var(--spacing-huge);
  margin-top: var(--spacing-small);
  position: relative;
}

.page-title {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);
  /*line-height: 77px;*/
  line-height: 49px;
  width: 70%;
}

.page-menu {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 16px;
}




/*========== TASKS COMPONENT ==========*/

.task {
  margin-bottom: var(--spacing-large);
  position: relative;
}

.task-name {
  font-size: var(--label-font-size);
  font-weight: var(--font-weight-xlight);
  /*margin-bottom: var(--spacing-tiny);*/
}

.task-time {
  font-size: var(--timer-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  padding-bottom: var(--spacing-tiny);
  border-bottom: 4px solid currentColor;
}

.task .btn {
  font-size: var(--label-font-size);
  font-weight: var(--font-weight-xlight);
  position: absolute;
  top: 0;
  right: 0;
}




/*========== TIMER CONTROLS ==========*/

.form {
  position: relative;
}

.form-title {
  font-size: 36px;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-regular);
}

.form-group {
  margin-bottom: var(--spacing-regular)
}

.form-group-label {
  font-size: var(--label-font-size);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--spacing-small);
}

[type="text"],
[type="number"] {
  border: none;
  border-bottom: 0.5px solid var(--color-gray);
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-bold);
}

[type="number"] {
  display: inline-block;
  width: 20%;
  margin-right: 10%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: var(--font-weight-light);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: var(--font-weight-light);
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: var(--font-weight-light);
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: var(--font-weight-light);
}

.form-submit-btn {
  float: right;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-regular);
}

.form-on-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-xlight);
  border-bottom: 0.5px solid #111;
  padding: 0;
}

/*========== QUEUE ==========*/

.queue {
  margin-top: var(--spacing-small);
}

.queue-modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: auto;
  padding-left: var(--spacing-regular);
  padding-right: var(--spacing-regular);
}

.queue-modal__wrapper {
  position: relative;
}

.queue-title {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 36px;
  margin-top: var(--spacing-regular);
  margin-bottom: var(--spacing-large);
  max-width: 60%;
}

.queue-item {
  display: flex;
  align-items: center;
  font-size: var(--label-font-size);
  font-weight: var(--font-weight-light);
  width: 100%;
  margin-bottom: var(--spacing-tiny)
}

/*.queue-label,*/
/*.queue-time {*/
/*  display: table-cell;*/
/*}*/

.queue-label {
  width: 60%;
}

.queue-time {
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-bold);
  width: 40%;
  float: right;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}




/*========== MODAL ==========*/

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.modal--center .modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.modal-time {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);
  padding: 24px 0;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 5%;
}




/*========== EVENT ==========*/
.error {
  border-bottom-color: red;
}




/*========== UTILITIES ==========*/

.one-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
